[
    {car_workshop_rest_api,
        [
            {reservations_records_file_name, "/Users/solaris/Dev/ErlangProjects/cowboy/car_workshop_rest_api/data/reservations_records.dets"},
            {reservations_state_file_name, "/Users/solaris/Dev/ErlangProjects/cowboy/car_workshop_rest_api/data/reservations_state.dets"},
            {inspections_records_file_name, "/Users/solaris/Dev/ErlangProjects/cowboy/car_workshop_rest_api/data/inspections_records.dets"},
            {inspections_state_file_name, "/Users/solaris/Dev/ErlangProjects/cowboy/car_workshop_rest_api/data/inspections_state.dets"}
        ]
    }
].
